<!-- <div class="container">
    <h1 class="text">
        Square of number Example
    </h1>
    <h2 class="text-center bg-warning text-white">
        Side: {{side}} Area {{side|square}}
    </h2>
</div> -->

<!-- <div>
    File One Size {{file1Size}} MB
    <br/>
    File Two Size {{file1Size}} MB
    <hr/>
    Database1 One Size {{file1Size}} GB<br/>
    Database Two Size {{file1Size}} GB
    <hr/>
    Image One Size {{file1Size}} Bytes <br/>
    Image Two Size {{file1Size}} Bytes
</div> -->

<div>
    <h2>First Call : {{username}}</h2>
    <h2>Second Call : {{username|welcome}}</h2>
    <h2>Third Call</h2>
    <h2>Fourth Call</h2>
    <h2>Fifth Call</h2>
</div>