<!-- <h1>Welcome to Angular</h1>
<h2>Welcome to Angular Mr.\\Ms.. {{username}}</h2>
<h2>12 + 5 = {{12 + 5}}</h2>
<img src="{{imgPath}}">
<h2>Property Binding</h2>
<img [src]="imgPath"> -->

<!-- <h1>Propery Binding vs Interpolation Binding</h1>
<button [disabled]="isDis">Property Binding</button>
<button disabled="{{isDis}}">Interpolation Binding</button> -->

<!-- <h2>Event Handling</h2>
<button (click)="welcome()">Click Herre()</button> -->

<h2>Two Way Binding</h2>
<input [(ngModel)]="fname"/><br/>
<input [(ngModel)]="lname"/><br/>
Full Name : {{fname}} {{lname}}
<app-student></app-student>