
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center bg-white text-success">Welcome to Partial View</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img src="~/images/p1.jpg" class="img-fluid" width="150" height="150" />
        </div>
        <div class="col-md-3">
            <img src="~/images/p2.jpg" class="img-fluid" width="150" height="150" />
        </div>
        <div class="col-md-3">
            <img src="~/images/p3.jpg" class="img-fluid" width="150" height="150" />
        </div>
    </div>
</div>